/* _helpers.scss */

/* ---------------------------------------------------------------------
   _helpers contains a collection of commonly used mixins that don't require args.
------------------------------------------------------------------------ */
$vendors: -webkit-,-moz-,-ms-,-ms-input-,-o-;

/* ---------------------------------------------------------------------
 	Visibility
------------------------------------------------------------------------ */
// Altogether Hidden Content: unavailable to both screenreaders and browsers
@mixin totallyHide {
	display: none;
	visibility: hidden;
}

// Visually Hidden Content: available to screenreaders only
@mixin visuallyHide {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

		// Allow keyboard focusability
		// h5bp.com/p
		&.focusable:active,
		&.focusable:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
}

@mixin totallyShow {
	display: block;
	visibility: visible;
}

@mixin visuallyShow {
	clip: auto;
	height: auto;
	margin: 0;
	width: auto;
	overflow: visible;
	position: static;
}

/* ---------------------------------------------------------------------
	Forms
------------------------------------------------------------------------ */
@mixin resetButton {
	background: none;
    border: none;
	border-radius: none;
	font-size: inherit;
    outline: none;
	margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

@mixin resetNativeButton {
	border: none;
	-webkit-appearance: none;
}
