@use "../utils/_utils" as *;
@use "sass:math";

/* ---------------------------------------------------------------------
  Video Block
------------------------------------------------------------------------ */
.videoBlock {
	$video: &;
	max-width: 1600px;

    &._is-full {
        width: 100vw;
        margin-left: calc(2.25em + 2.25em) * -1;

        @include breakpoint(md) {
            margin-left: calc(8.1em + 2.25em) * -1;
        }

        @include breakpoint(lg) {
            margin-left: calc(8.1em + 4.5em) * -1;
        }
        
    }

    &._is-card {
        margin-bottom: 6em;
    }

	.innerSection--splash & {
		position: absolute;
		left: 8.1em;
		top: 0;
		z-index: -1;
	}

	&-media {
		max-width: 100%;

		#{$video}--embed & {
			border: 1px solid getColor('orange');
			border-radius: 10px;
		}

	}

}